@tailwind base;
@tailwind components;
@tailwind utilities;

th,td {
    @apply p-3
}

tr:nth-of-type(even) {
    @apply bg-gray-300
}
tr:nth-of-type(odd) {
    @apply bg-gray-200
}

.hello{
    transform: translateX(-100%);
}
